<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
Welcome home page!
<br>
<h4>Add author</h4>
<form action="/addAuthor" method="post">
    <input type="text" placeholder="Please input author name" name="name"><br>
    <input type="text" placeholder="Please input author surname" name="surname"><br>
    <input type="text" placeholder="Please input email" name="email"><br>
    <select name="gender">
        <option>MALE</option>
        <option>FEMALE</option>
    </select><br>
    <input type="text" placeholder="Please input password" name="password"><br>
    <textarea name="bio" title="bio" rows="5"></textarea>
    <br>
    <input type="submit" value="add">
</form>
<br>
<a th:href="@{/author}">Author page</a>
<br>
<br>
<h4>Add book</h4>
<form action="/addBook" method="post">
    <input type="text" placeholder="Please input title" name="title"><br>
    <input type="text" placeholder="Please input description" name="description"><br>
    <input type="number" placeholder="Please input price" name="price"><br>
    <select name="authorId">
        <div th:value="${users}" th:each="user:${users}" th:remove="tag">
            <option th:text="${user.id}"></option>
        </div>
    </select>
    <br>
    <input type="submit" value="add">
</form>
<br>
<a th:href="@{/book}">Book page</a>


<!--<h2 th:text="${message}" th:if="${message!=null}"></h2>-->
<!--<ul th:each="user:${users}">-->
<!--    <li th:text="${user.name}+' '+${user.surname}"></li>-->
<!--    <a th:href="@{/deleteUser(id=${user.id})}">delete</a>-->
<!--</ul>-->
</body>
</html>